/* problème de priorisation lors du bundling ? */
.button {
    border-width : 1px ;
    border-style : solid ;
    border-radius : 5px ;
    font-weight : bold ;
    padding : 5px 10px 5px 10px ;
}

.button.validation {
    border-color : var(--mane-outline) ;
    background : var(--mane-main) ;
    color : white ;
}
.button.validation:hover {
    background : var(--mane-shadow-2) ;
    border-style : dotted ;
    color : var(--coat-outlines) ;
}
.button.dangerous {
    border-color : var(--iris-main) ;
    background : var(--eyeshadow) ;
    color : var(--iris-main) ;
}
.button.dangerous:hover {
    border-color : var(--iris-shade-2) ;
    border-style : dotted ;
    color : var(--iris-shade-2) ;
}


label[required]:after {
    content : "*" ;
    color : red ;
    font-weight : bold ;
    margin-left : 5px ;
}

.text-warning {
    background : lightgoldenrodyellow ;
    color : var(--mane-outline) ;
    border : 2px dashed var(--mane-outline) ;
    padding : 10px ;
}

.is_private {
    opacity : 0.5 ;
}

table {
    border-collapse : collapse ;
    border : 2px solid black ;
    margin : 25px 0 25px 0 ;
    width : 100% ;

}

td, th {
    padding : 5px ;
    min-width : 25px ;
}

thead {
    border-bottom : 1px dashed grey ;
}

tbody > tr {
    border-bottom : 1px dotted grey ;
}