/* BEGIN Color Palet */

body {
    --coat-main : #edf1f2 ;
    --coat-shadow : #dfe4e6 ;
    --coat-outlines : #d4d7d9 ;
    
    --iris-main : #2f639c ;
    --iris-shade-1 : #5996cf ;
    --iris-shade-2 : #6b9cd1 ;
    --eyeshadow : #bae3f7 ;

    --mane-main : #5e50a1 ;
    --mane-shadow-1 : #6f4085 ;
    --mane-shadow-2 : #522b66 ;
    --mane-outline : #3b194f ;
}

/* END Color Palet */

