@tailwind base;
@tailwind components;
@tailwind utilities;


@import './ITCSS/settings.css';/*
@import 'tools/*';
@import 'generic/*';*/
@import './ITCSS/elements.css';
/*
@import 'vendor/*';
@import 'objects/*';
@import 'components/*';
@import 'utilities/*';*/

* {
    box-sizing : border-box ;
}

/* BEGIN Titles */

h1 {
    font-size : 2rem ;
    color : var(--iris-main) ;
    font-weight : bold ;
}
h2 {
    color : var(--mane-main) ;
    font-weight : bold ;
    font-size : 1.5rem ;
}
h3 {
    color : var(--iris-main) ;
    font-weight : bold ;
    font-size : 1.25rem ;
    margin-left : 20px ;
}

h4 {
    font-weight : bold ;
    font-size : 1.15rem ;
}

/* END Titles */

/* BEGIN Lists */
ul, ol, li {
    margin-left : 20px ;
}
ul > li {
    list-style : square ;
}

ol > li {
    list-style : decimal ;
}
ol > li::marker, ul > li::marker {
    font-weight : bold ;
    color : var(--iris-shade-2) ;
}

/* END Lists */



pre {
    margin : 10px ;
    padding : 10px ;
    overflow-x : auto ;
}

.fichier {
    background : lightyellow ;
    border : 1px solid grey ;
}

.terminal {
    background : #333333 ;
    color : white ;
}

.txt_catchy {
    color : var(--iris-main) ;
    font-size : 1.2rem ;
}


.separator {
    border-bottom : 1px solid lightgrey ;
    width : 50% ;
    margin : 25px auto 25px auto ;

}

#summary {
    background-color : var(--eyeshadow);
    border : 1px solid var(--iris-shade-1) ;
    padding : 15px ;
    margin : 15px ;
}

#summary > li {
    list-style : none ;
    margin : 0 ;
}

.d-none {
    display : none ;
}

nav {
    color : var(--coat-main) ;
}

header {
    color : var(--iris-main) ;
}

.bg-color {
    background-color: var(--coat-main) ;
}

.bg-mane {
    background-color : var(--mane-main) ;
}

.sm-img {
    height : 64px ;
}

.xs-img {
    height : 32px ;
}

.xxs-img {
    height : 16px ;
}

main {
    margin-left : 10px ;
    margin-right : 10px ;
}

/* Flexbox */
.d-flex {
    display : flex ;
}

.flex-column {
    flex-direction : column ;
}

.flex-grow-1 {
    flex-grow : 1 ;
}

.align-items-center {
    align-items : center ;
}

.space-between {
    justify-content : space-between ;
}


/* */
#main a {
    border-bottom : 1px dotted grey ;
}
#main a:hover {
    color : var(--mane-shadow-1) ;
    border-bottom : 1px dotted var(--mane-shadow-1) ;
}
ul#summary a {
    border-bottom : none ;
}

.ariane {
    color : #555555 ;
}
.ariane a {
    color : grey ;
    font-style : italic ;
    padding : 0 5px 0 0 ;
    border-bottom : none ;
}

.bg-white {
    color : grey ;
}
.bg-white a {
    color : #555555 ;
}
.bg-white a:hover {
    color : var(--mane-shadow-1) ;
    border-bottom : 1px dotted var(--mane-shadow-1) ;
}

.vignette {
    height : 75px ;
}

span[aria-current="page"] > .bg-white {
    color : purple ;
}

.flashcard {
    height : 50vh ;
    width : auto ;
}


.text-nb {
    color : var(--mane-main) ;
    font-style: italic;
}
.text-explain {
    color : var(--iris-main) ;
    font-style: italic;
}